* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h2,
form button {
    font-family: 'Noto Serif', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #161414;
    font-family: 'Noto Serif', serif;
}

header nav li {
    display: inline;
    font-size: 16px;
    padding: 32px;
}

header nav li a {
    color: white;
    text-decoration: none;
}

header img {
    height: 36px;
    margin-right: 16px;
}

.badini img {
    height: 350px;
    padding: 50px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about h2 {
    margin-bottom: 24px;
}

#about p {
    margin: 8px;
    font-family: 'Noto Serif', serif;
    font-size: 12px;
}

.brands {
    display: inline;
    height: 24px;
    margin-top: 16px;
    margin-right: 16px;
}

#last-clicks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    margin-bottom: 32px;
}

#last-clicks img {
    height: 130px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#last-clicks li {
    display: inline;
}

#last-clicks h2 {
    margin-bottom: 8px;
}

.social-links img {
    height: 24px;
    margin-left: 8px;
}

.social-links li {
    display: inline;
    text-decoration: none;
}

form input,
textarea,
button {
    display: block;
    width: 320px;
    padding: 8px;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
}

#contact {
    display: block;
    margin-bottom: 32px;
}

.contact-itens {
    display: flex;
    justify-content:space-around;
}

#contact h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

#contact h3 {
    margin-bottom: 16px;
}

form button {
    width: 130px;
    margin-left: 190px;
    border: none;
    background-color: #ff6600;
    color: white;
}

form button:hover {
    background-color: #ff7d27;
    cursor: pointer;
}

form textarea {
    resize: none;
    height: 130px;
}

footer {
    padding: 16px;
    background-color: #161414;
}






